
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Expense Track</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <AuthorizeView>
            <NotAuthorized>
                <li class="nav-item px-3"  @onclick="ToggleNavMenu">
                    <NavLink style="color: black" class="nav-link" href="/login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>
            <Authorized>
                <li class="nav-item px-3" @onclick="ToggleNavMenu">
                    <NavLink style="color: black" class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3" @onclick="ToggleNavMenu">
                    <NavLink style="color: black" class="nav-link" href="/userProfilePage">
                        <span class="oi oi-person" aria-hidden="true"></span> Your Profile
                    </NavLink>
                </li>

                <AuthorizeView Context="innerAuthView" Roles="Administrator">
                   
                    <li class="nav-item px-3" @onclick="ToggleNavMenu">
                        <NavLink style="color: black" class="nav-link" href="admin/dashboard">
                            <span class="oi oi-person" aria-hidden="true"></span> Admin Users List
                        </NavLink>
                    </li>
                        
                </AuthorizeView>

                <li class="nav-item px-3" @onclick="ToggleNavMenu">
                    <NavLink style="color: black" class="nav-link" href="/expenses">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> All Expenses
                    </NavLink>
                </li>
                <li class="nav-item px-3" @onclick="ToggleNavMenu">
                    <NavLink style="color: black" class="nav-link" href="/incomes">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> All Incomes
                    </NavLink>
                </li>

                <li class="nav-item dropdown px-3 ">
                    <NavLink class="nav-link dropdown-toggle" style="color: black" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Expenses By Month
                    </NavLink>
                    <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                        @foreach (DateTime yearMonth in EachMonth(new DateTime(2021, 3, 1), DateTime.Now).Reverse())
                        {

                            <NavLink @onclick="ToggleNavMenu" class="dropdown-item" style="color: black" href="@($"/expensesbymonth/{yearMonth.ToString("yyyy-MM")}")">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Expenses for: @yearMonth.ToString("yyyy-MM")
                            </NavLink>

                        }
                    </ul>
                </li>
                <li class="nav-item dropdown px-3 ">
                    <NavLink class="nav-link dropdown-toggle" style="color: black" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>  Incomes By Month
                    </NavLink>
                    <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                        @foreach (DateTime yearMonth in EachMonth(new DateTime(2021, 3, 1), DateTime.Now).Reverse())
                        {
                            <NavLink class="dropdown-item" @onclick="ToggleNavMenu" style="color: black" href="@($"/incomesbymonth/{yearMonth.ToString("yyyy-MM")}")">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Incomes for: @yearMonth.ToString("yyyy-MM")
                            </NavLink>
                        }
                    </ul>
                </li>
                <li class="nav-item dropdown px-3 ">
                    <NavLink class="nav-link dropdown-toggle" style="color: black" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                        <span class="oi  oi-pie-chart " aria-hidden="true"></span> Monthly Comparison Charts
                    </NavLink>
                    <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                        @foreach (DateTime yearMonth in EachMonth(new DateTime(2021, 3, 1), DateTime.Now).Reverse())
                        {
                            <NavLink @onclick="ToggleNavMenu" class="dropdown-item" style="color: black" href="@($"/IncExpComparisonChart/{yearMonth.ToString("yyyy-MM")}")">
                                <span class="oi  oi-pie-chart " aria-hidden="true"></span> Budget Chart for: @yearMonth.ToString("yyyy-MM")
                            </NavLink>
                        }
                    </ul>
                </li>

                @if (groupsList != null)
                {
                    <li class="nav-item dropdown px-3 ">
                        <NavLink class="nav-link dropdown-toggle" style="color: black" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                            <span class="oi oi-people" aria-hidden="true"></span> Your Groups
                        </NavLink>
                        <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">

                            @foreach (var group in groupsList)
                            {
                                if (group.ExpenseTrackerUserId == currentUserObj.UserId)
                                {
                                    <NavLink @onclick="ToggleNavMenu" class="dropdown-item" style="color: black" Match="NavLinkMatch.Prefix" href="@($"/grouphomepage/{group.Groups.GroupsId}")">
                                        <span class="oi oi-people" aria-hidden="true"></span> Homepage for: @group.Groups.GroupName
                                    </NavLink>
                                }
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item px-3" @onclick="ToggleNavMenu">
                        <NavLink style="color: black" class="nav-link" >
                            Loading...<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"> 
                            </div>
                        </NavLink>
                    </li>
                }



                <li class="nav-item px-3">
                    <NavLink class="nav-link" style="color: black" @onclick="() => { AuthRepository.Logout(); }">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>


@*else 
{
<div class="justify-content-center align-content-center">
    <h2>
        Loading...
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">

        </div>
    </h2>
</div>
}*@

@code {

    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    private AuthenticationState authState { get; set; }

    [Inject]
    NavigationManager NavManager { get; set; }

    [Inject]
    public IAuthRepository AuthRepository { get; set; }

    [Inject]
    IGroupsScreenUseCases GroupsScreenUseCases { get; set; }

    [Inject]
    IAdminScreenUseCases AdminScreenUseCases { get; set; }

    List<GroupUsers> groupsList;

    public string currentUser;
    UserProfile currentUserObj;

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {

        var authState = await _authState;
        var user = authState.User;


        if (user.FindFirst(ClaimTypes.Name) != null)
        {

            currentUser = user.FindFirst(ClaimTypes.Name).Value;
            groupsList = await GroupsScreenUseCases.ViewAllGroupsByUser(currentUser);
            currentUserObj = await AdminScreenUseCases.ViewSingleUser(currentUser);
        }


    }

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    if (firstRender)
    //    {

    //    }
    //}

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    private IEnumerable<DateTime> EachMonth(DateTime from, DateTime thru)
    {
        for (var day = from.Date; day.Date <= thru.Date; day = day.AddMonths(1))
            yield return day;
    }

}